table{
    width: 100%;
    border-collapse: collapse;
}
tr:not( :last-child ) td, th{
    border: 1px solid #DDDDDD;
}
tr:nth-child(even):not( :last-child ){
    background: #DDDDDD;
}
tr:not( :last-child ):hover{
    background: mediumspringgreen;
}